<html lang="en">
<head>
    <meta charset="Variable-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ElectroCart</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>
<body>
<!-- header section starts  -->

<header>

    <input type="checkbox" name="" id="toggler">
    <label for="toggler" class="fas fa-bars"></label>

    <a href="#" class="logo"><img src="/images/logo_consumer.png" alt=""></a>

    <nav class="navbar">
        <a href="#home">home</a>
        <a href="#about">about</a>
        <a href="#products">products</a>
        <a href="#review">review</a>
        <a href="#contact">contact</a>
    </nav>

    <div class="icons">
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-shopping-cart"></a>
        <a href="#" class="fas fa-user"></a>
    </div>

</header>

<!-- header section ends -->

<!-- home section starts  -->

<section class="home" id="home">

    <div class="content">
        <h3>Digital Love</h3>
        <span> Electronic Components and devices </span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae laborum ut minus corrupti dolorum dolore assumenda iste voluptate dolorem pariatur.</p>
        <a href="#" class="btn">shop now</a>
    </div>
    
</section>

<!-- home section ends -->

<!-- about section starts  -->

<section class="about" id="about">

    <h1 class="heading"> <span> about </span> us </h1>

    <div class="row">
        <div class="content">
            <h3>why choose us?</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem cumque sit nemo pariatur corporis perspiciatis aspernatur a ullam repudiandae autem asperiores quibusdam omnis commodi alias repellat illum, unde optio temporibus.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium ea est commodi incidunt magni quia molestias perspiciatis, unde repudiandae quidem.</p>
            <a href="#" class="btn">learn more</a>
        </div>

    </div>

</section>

<!-- about section ends -->

<!-- icons section starts  -->

<section class="icons-container">

    <div class="icons">
        <img src="images/icon-1.png" alt="">
        <div class="info">
            <h3>free delivery</h3>
            <span>on all orders</span>
        </div>
    </div>

    <div class="icons">
        <img src="images/icon-2.png" alt="">
        <div class="info">
            <h3>10 days returns</h3>
            <span>moneyback guarantee</span>
        </div>
    </div>

    <div class="icons">
        <img src="images/icon-3.png" alt="">
        <div class="info">
            <h3>offer & gifts</h3>
            <span>on all orders</span>
        </div>
    </div>

    <div class="icons">
        <img src="images/icon-4.png" alt="">
        <div class="info">
            <h3>secure payments</h3>
            <span>protected by paypal</span>
        </div>
    </div>
   
</section>

<!-- icons section ends -->

<!-- prodcuts section ends -->

<!-- review section starts  -->

<section class="review" id="review">

<h1 class="heading"> customer's <span>review</span> </h1>

<div class="box-container">

    <div class="box">
        <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti asperiores laboriosam praesentium enim maiores? Ad repellat voluptates alias facere repudiandae dolor accusamus enim ut odit, aliquam nesciunt eaque nulla dignissimos.</p>
        <div class="user">
            <div class="fas fa-user"></div>
            <div class="user-info">
                <h3>john deo</h3>
                <span>happy customer</span>
            </div>
        </div>
        <span class="fas fa-quote-right"></span>
    </div>

    <div class="box">
        <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti asperiores laboriosam praesentium enim maiores? Ad repellat voluptates alias facere repudiandae dolor accusamus enim ut odit, aliquam nesciunt eaque nulla dignissimos.</p>
        <div class="user">
            <div class="fas fa-user"></div>
            <div class="user-info">
                <h3>john deo</h3>
                <span>happy customer</span>
            </div>
        </div>
        <span class="fas fa-quote-right"></span>
    </div>

    <div class="box">
        <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti asperiores laboriosam praesentium enim maiores? Ad repellat voluptates alias facere repudiandae dolor accusamus enim ut odit, aliquam nesciunt eaque nulla dignissimos.</p>
        <div class="user">
            <div class="fas fa-user"></div>
            <div class="user-info">
                <h3>john deo</h3>
                <span>happy customer</span>
            </div>
        </div>
        <span class="fas fa-quote-right"></span>
    </div>
</div>   
</section>

<!-- review section ends -->
{{!-- products section starts here --}}
<section class="products">
    <h1 class="heading"> Our <span>Products</span></h1>
    <div class="grid-container">
        <a href="/products/cable">
            <div class="grid-item">
                <div class="grid-item-heading">
                    <h2>Cables</h2>
                </div>
                <img src="https://m.media-amazon.com/images/S/aplus-media/sc/1c49ba59-d5d9-4890-9b35-e02b48f0dd7d.__CR186,0,600,600_PT0_SX300_V1___.jpg" alt="">
            </div>
        </a>
        <a href="/products/cameras">
            <div class="grid-item">
                <div class="grid-item-heading">
                    <h2>Cameras</h2>
                </div>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1eSmLAmcslZIe52SsUg6PREo7eLa6AzO9AOnHmY9GIBwMmiIG6w8oxTc0Z5O3i7qK2rk&usqp=CAU" alt="">
            </div>
        </a>
        <a href="/products/cpu">
            <div class="grid-item">
                <div class="grid-item-heading">
                    <h2>CPUs</h2>
                </div>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9lDMj8FMqIQWvJcj47DBxvHQjEAVGOHygdB4pV5bHAOzY8hz2EnULlKXzrOkAOo3jLwU&usqp=CAU" alt="">
            </div>
        </a>
        <a href="/products/headphones">
            <div class="grid-item">
                <div class="grid-item-heading">
                    <h2>Headphones</h2>
                </div>
                <img src="https://m.media-amazon.com/images/I/315vj6oj-FL.jpg" alt="">
            </div>
        </a>
        <a href="/products/laptop">
            <div class="grid-item">
                <div class="grid-item-heading">
                    <h2>Laptop</h2>
                </div>
                <img src="https://m.media-amazon.com/images/I/81KoSSAwH2L._SL1500_.jpg" alt="">
            </div>
        </a>
        <a href="/products/mobile">
            <div class="grid-item">
                <div class="grid-item-heading">
                    <h2>Mobile</h2>
                </div>
                <img src="https://vasanthandco.in/image/cache/catalog/custom/product/Mobiles/iphone-11-128gb-1-228x228.png" alt="">
            </div>
        </a>
        <a href="/products/motherboard">
            <div class="grid-item">
                <div class="grid-item-heading">
                    <h2>Motherboard</h2>
                </div>
                <img src="https://i0.wp.com/www.gadgetgyz.com/wp-content/uploads/2022/01/MPG-Z490M-GAMING-EDGE-WIF_wr_03.jpg?fit=800%2C800&ssl=1">
            </div>
        </a>
        <a href="/products/ram">
            <div class="grid-item">
                <div class="grid-item-heading">
                    <h2>RAMs</h2>
                </div>
                <img src="https://cdn.mos.cms.futurecdn.net/a86n5AAXTZTWAfAVry8PEB-320-80.jpg" alt="">
            </div>
        </a>
        <a href="/products/storage">
            <div class="grid-item">
                <div class="grid-item-heading">
                    <h2>Storage</h2>
                </div/>
                <img src="https://c1.neweggimages.com/ProductImage/20-147-804-V04.jpg" alt="">
            </div>
        </a>
        <a href="/products/televisions">
            <div class="grid-item">
                <div class="grid-item-heading">
                    <h2>Televisions</h2>
                </div>
                <img src="https://www.reliancedigital.in/medias/BPL-43F-A1000-Televisions-491895045-i-1-1200Wx1200H-300Wx300H?context=bWFzdGVyfGltYWdlc3w0MzMzMXxpbWFnZS9qcGVnfGltYWdlcy9oMDcvaDBhLzk3ODIzMDYyNDI1OTAuanBnfGI3ODYxNDU0YTNmNzgzOWExN2NlZTBlZDk4NGI5ZDg4Y2YzZGY0ZGQ2Mjk5MDUwOTZjN2NhN2Q4ZTMxYzNhMjk" alt="">
            </div>
        </a>
    </div>
</section>

{{!-- products section ends here --}}
<!-- footer section starts  -->

<section class="footer">
    <div class="box-container">
        <div class="box">
            <h3>quick links</h3>
            <a href="#">home</a>
            <a href="#">about</a>
            <a href="#">products</a>
            <a href="#">review</a>
            <a href="#">contact</a>
        </div>
        <div class="box">
            <h3>extra links</h3>
            <a href="#">my account</a>
            <a href="#">my order</a>
            <a href="#">my favorite</a>
        </div>
        <div class="box">
            <h3>locations</h3>
            <a href="#">india</a>
            <a href="#">USA</a>
            <a href="#">japan</a>
            <a href="#">france</a>
        </div>
        <div class="box">
            <h3>contact info</h3>
            <a href="#">+123-456-7890</a>
            <a href="#">example@gmail.com</a>
            <a href="#">mumbai, india - 400104</a>
            <img src="images/payment.png" alt="">
        </div>
    </div>
</section>
<script src="../javascripts/getProductName.js"></script>
<!-- footer section ends -->
</body>
</html>