<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/stylesheets/signup.css">
   <title>Sign Up/Register</title>
</head>
<body>
   <main>
      <div id="container">
         <div id="login-div">
            <h1>Log In</h1>
            <form action="/auth/login" method="POST" autocomplete="off">
               <label for="userid">User ID: </label><br>
               <input type="text" required name="userid" id="user-id" autocomplete="off"><br>
               <label for="userpass">Password:</label><br>
               <input type="password" required name="userpass" id="user-pass" autocomplete="off"><br>
               <span>Sign in as a</span><br>
               <div id="links">
                  <button type="submit" id="consumer">Login</button>
               </div>
            </form>
            {{#if login_message }}
               <h4 class="error-message">{{login_message}}</h4>
            {{/if}}
         </div>
         <div id="register-div">
            <h1>Register</h1>
            <form action="/auth/register" method="POST" autocomplete="off">
               <label for="registerfname">First Name: </label><br>
               <input type="text" required name="registerfname" id="register-fname" autocomplete="off"><br>
               <label for="registerlname">Last Name: </label><br>
               <input type="text" required name="registerlname" id="register-lname" autocomplete="off"><br>
               <label for="phnum">Phone Number: </label><br>
               <input type="telephone" required name="phnum" id="ph-num" autocomplete="off"><br>
               <label for="userid">New User ID: </label><br>
               <input type="text" required name="userid" id="user-id" autocomplete="off"><br>
               <label for="userpass">Password:</label><br>
               <input type="password" required name="userpass" id="user-pass"><br>
               <label for="confirmpass"> Confirm Password:</label><br>
               <input type="password" required name="confirmpass" id="confirm-pass"><br>
               <button type="submit">Submit</button>
            </form>
            {{#if message }}
               <h4 class="error-message">{{message}}</h4>
            {{/if}}
            {{#if success_message }}
               <h4 id="success-message">{{success_message}}</h4>
            {{/if}}
         </div>
      </div>
   </main>
</body>
</html>