<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/stylesheets/products.css">
   <title>Buy Product at ElectroCart</title>
</head>
<body>
   <header>
      <nav>
         <a href="#"><img src="/images/logo_consumer.png" alt=""></a>
         <div class="nav-links">
            <ul>
               <li><a href="">Link-1</a></li>
               <li><a href="">link-2</a></li>
               <li><a href="">link-3</a></li>
               <li><a href=""> <img src="/images/account.png" alt=""><br> Hi {{ accountName }}</a></li>
            </ul>
         </div>
      </nav>
   </header>
</body>
</html>