<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/stylesheets/products.css">
   <link rel="stylesheet" href="">
   <title>Buy Product at ElectroCart</title>
</head>
<body>
   <header>
      <nav>
         <a href="#"><img src="/images/logo_consumer.png" alt=""></a>
         <div class="nav-links">
            <ul>
               <li><a href="">Home</a></li>
               <li><a href="">Products</a></li>
               <li><a href="">Contact Us</a></li>
               <li><a href="">Cart</a></li>
               <li><a href="" id="account"> <img src="/images/account.png" alt=""> Hi {{ accountName }}</a></li>
            </ul>
         </div>
      </nav>
   </header>
   <main>
      
   </main>
</body>
</html>