@font-face {
   font-family: Montserrat;
   src: url(C:\xampp\htdocs\SemIVProjectWeb\fonts\Montserrat-VariableFont_wght.ttf);
}
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: Montserrat;
   color: white;
}
body {
   background: #171624;
}
header {
   width: 100%;
   position: sticky;
   top: 0;
   z-index: 100;
   backdrop-filter: blur(8px);
   -webkit-backdrop-filter: blur(8px);
   background: #17162470;
}
nav {
   padding: 0 20px;
}
nav > a > img {
   height: 100px;
}
nav {
   display: flex;
   justify-content: space-between;
}
.nav-links ul {
   display: flex;
}
.nav-links ul li{
   list-style: none;
   padding: 20px 0px;
   margin-top: 20px;
   margin-right: 10px;
}
.nav-links ul li:nth-child(5) {
   padding: 10px;
}

li> a:link {
  text-decoration: none;
}

li> a:visited {
  text-decoration: none;
  color: #fff;
}

li a {
  padding: 10px;
  background: none;
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
  display: flex;
}
#account {
   display: flex;
   justify-content: center;
   align-items: center;
}
#account:hover {
   background: none;
   filter:opacity(0.5);
   color: white;
}
li a:hover {
   transition: all 0.2s ease-in-out;
   background: linear-gradient(to bottom, #17ffc6,#0370b8);
   color: black;
}
li a img {
   height: 36px;
   margin-right: 5px;
}
/* For product listing div  */
main {
   height: fit-content;
   display: flex;
   justify-content: center;
   align-items: center;
}
.main-container {
   display: grid;
   grid-template-columns: repeat(3,1fr);
   grid-gap: 30px;
}
.page-wrapper {
   height: 100%;
   display: table;
}
.page-wrapper .page-inner {
   display: table-cell;
   vertical-align: middle;
}
.el-wrapper {
   width: 360px;
   padding: 15px;
   margin: 15px auto;
   background: #28273f;
}

@media (max-width: 991px) {
   .el-wrapper {
      width: 345px;
   }
}
@media (max-width: 767px) {
   .el-wrapper {
      width: 290px;
      margin: 30px auto;
   }
}
.el-wrapper:hover .h-bg {
   left: 0;
}
.el-wrapper:hover .price {
   left: 20px;
   -webkit-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   -o-transform: translateY(-50%);
   transform: translateY(-50%);
   color: #818181;
}
.el-wrapper:hover .add-to-cart {
   left: 50%;
}