@font-face {
   font-family: Montserrat;
   src: url(C:\xampp\htdocs\SemIVProjectWeb\fonts\Montserrat-VariableFont_wght.ttf);
}
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: Montserrat;
   color: white;
}
body {
   background: #171624;
}
header {
   width: 100%;
   position: sticky;
   top: 0;
   z-index: 100;
   backdrop-filter: blur(8px);
   -webkit-backdrop-filter: blur(8px);
   background: #17162470;
}
nav {
   padding: 0 20px;
}
nav > a > img {
   height: 100px;
}
nav {
   display: flex;
   justify-content: space-between;
}
.nav-links ul {
   display: flex;
}
.nav-links ul li{
   list-style: none;
   padding: 20px 0px;
   margin-top: 20px;
   margin-right: 10px;
}
.nav-links ul li:nth-child(5) {
   padding: 10px;
}

li> a:link {
  text-decoration: none;
}

li> a:visited {
  text-decoration: none;
  color: #fff;
}

li a {
  padding: 10px;
  background: none;
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
  display: flex;
}
#account {
   display: flex;
   justify-content: center;
   align-items: center;
}
#account:hover {
   background: none;
   filter:opacity(0.5);
   color: white;
}
li a:hover {
   transition: all 0.2s ease-in-out;
   background: linear-gradient(to bottom, #17ffc6,#0370b8);
   color: black;
}
li a img {
   height: 36px;
   margin-right: 5px;
}
/* For product listing div  */
main {
   height: fit-content;
   display: flex;
   justify-content: center;
   align-items: center;
}
.main-container {
   display: grid;
   grid-template-columns: repeat(3,1fr);
   grid-gap: 30px;
}
.page-wrapper {
   height: 100%;
   display: table;
}
.page-wrapper .page-inner {
   display: table-cell;
   vertical-align: middle;
}
.el-wrapper {
   width: 360px;
   padding: 15px;
   margin: 15px auto;
   background: #28273f;
   border-radius: 15px;
}

@media (max-width: 991px) {
   .el-wrapper {
      width: 345px;
   }
}
@media (max-width: 767px) {
   .el-wrapper {
      width: 290px;
      margin: 30px auto;
   }
}
.el-wrapper:hover .h-bg {
   left: 0;
}
.el-wrapper:hover .price {
   left: 20px;
   -webkit-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   -o-transform: translateY(-50%);
   transform: translateY(-50%);
   color: #818181;
}
.el-wrapper:hover .add-to-cart {
   left: 50%;
}
.el-wrapper:hover .img {
   -webkit-filter: blur(7px);
   -o-filter: blur(7px);
   -ms-filter: blur(7px);
   filter: blur(7px);
   filter: progid:DXImageTransform.Microsoft.Blur(pixelradius = '7', shadowopacity='0.0');
   opacity: 0.4;
}
.el-wrapper:hover .launch-date {
   -webkit-transition-delay: 300ms;
   -o-transition-delay: 300ms;
   transition-delay: 300ms;
   bottom: 50px;
   opacity: 1;
}
.el-wrapper .box-down {
   width: 100%;
   height: 60px;
   position: relative;
   overflow: hidden;
}
.el-wrapper .box-up {
   width: 100%;
   height: 300px;
   position: relative;
   overflow: hidden;
   text-align: center
}
.el-wrapper .img {
   padding: 20px 0;
   -webkit-transition: all 800ms cubic-bezier(0,0,0.18,1);
   -moz-transition: all 800ms cubic-bezier(0,0,0.18,1);
   -o-transition: all 800ms cubic-bezier(0,0,0.18,1);
   transition: all 800ms cubic-bezier(0,0,0.18,1);
   /* ease-out */
   -webkit-transition-timing-function: cubic-bezier(0,0,0.18,1);
   -moz-transition-timing-function: cubic-bezier(0,0,0.18,1);
   -o-transition-timing-function: cubic-bezier(0,0,0.18,1);
   transition-timing-function: cubic-bezier(0,0,0.18,1);
}
.h-bg {
   -webkit-transition: all 800ms cubic-bezier(0,0,0.18,1);
   -moz-transition: all 800ms cubic-bezier(0,0,0.18,1);
   -o-transition: all 800ms cubic-bezier(0,0,0.18,1);
   transition: all 800ms cubic-bezier(0,0,0.18,1);
   /* ease-out */
   -webkit-transition-timing-function: cubic-bezier(0,0,0.18,1);
   -moz-transition-timing-function: cubic-bezier(0,0,0.18,1);
   -o-transition-timing-function: cubic-bezier(0,0,0.18,1);
   transition-timing-function: cubic-bezier(0,0,0.18,1);
   width: 660px;
   height: 100%;
   background-color: #3f96cd;
   position: absolute;
   left: -669px;
}
.h-bg .h-bg-inner {
   width: 50%;
   height: 100%;
   background-color: #464646;
}
.info-inner {
   -webkit-transition: all 400ms cubic-bezier(0,0,0.18,1);
   -moz-transition: all 400ms cubic-bezier(0,0,0.18,1);
   -o-transition: all 400ms cubic-bezier(0,0,0.18,1);
   transition: all 400ms cubic-bezier(0,0,0.18,1);
   /* ease-out */
   -webkit-transition-timing-function: cubic-bezier(0,0,0.18,1);
   -moz-transition-timing-function: cubic-bezier(0,0,0.18,1);
   -o-transition-timing-function: cubic-bezier(0,0,0.18,1);
   transition-timing-function: cubic-bezier(0,0,0.18,1);
   position: absolute;
   width: 100%;
   bottom: 25px;
}
.info-inner .product-name,
.info-inner .product-brand {
   display: block;
}
.info-inner .product-name {
   font-size: 18px;
   color: #2083e1;
}
.info-inner .product-brand {
   font-size: 12px;
   text-transform: uppercase;
   color: #c2c2c2;
}
.launch-date {
   -webkit-transition: all 300ms cubic-bezier(0,0,0.18,1);
   -moz-transition: all 300ms cubic-bezier(0,0,0.18,1);
   -o-transition: all 300ms cubic-bezier(0,0,0.18,1);
   transition: all 300ms cubic-bezier(0,0,0.18,1);
   /* ease-out */
   -webkit-transition-timing-function: cubic-bezier(0,0,0.18,1);
   -moz-transition-timing-function: cubic-bezier(0,0,0.18,1);
   -o-transition-timing-function: cubic-bezier(0,0,0.18,1);
   transition-timing-function: cubic-bezier(0,0,0.18,1);
   position: absolute;
   width: 100%;
   top: 40px;
   color: #2083e1;
   opacity: 0;
}
.cart {
   display: block;
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   font-weight: 700;
}
.cart .price {
   -webkit-transition: all 600ms cubic-bezier(0,0,0.18,1);
   -moz-transition: all 600ms cubic-bezier(0,0,0.18,1);
   -o-transition: all 600ms cubic-bezier(0,0,0.18,1);
   transition: all 600ms cubic-bezier(0,0,0.18,1);
   /* ease-out */
   -webkit-transition-timing-function: cubic-bezier(0,0,0.18,1);
   -moz-transition-timing-function: cubic-bezier(0,0,0.18,1);
   -o-transition-timing-function: cubic-bezier(0,0,0.18,1);
   transition-timing-function: cubic-bezier(0,0,0.18,1);
   -webkit-transition-delay: 100ms;
   -o-transition-delay: 100ms;
   transition-delay: 100ms;
   display: block;
   position: absolute;
   top: 50%;
   left: 50%;
   -webkit-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   -o-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   font-size: 20px;
   color: #64abc0;
}
.cart .add-to-cart {
   -webkit-transition: all 600ms cubic-bezier(0,0,0.18,1);
   -moz-transition: all 600ms cubic-bezier(0,0,0.18,1);
   -o-transition: all 600ms cubic-bezier(0,0,0.18,1);
   transition: all 600ms cubic-bezier(0,0,0.18,1);
   /* ease-out */
   -webkit-transition-timing-function: cubic-bezier(0,0,0.18,1);
   -moz-transition-timing-function: cubic-bezier(0,0,0.18,1);
   -o-transition-timing-function: cubic-bezier(0,0,0.18,1);
   transition-timing-function: cubic-bezier(0,0,0.18,1);
   -webkit-transition-delay: 100ms;
   -o-transition-delay: 100ms;
   transition-delay: 100ms;
   display: block;
   position: absolute;
   width: 100px;
   top: 50%;
   left: 116%;
   -webkit-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   -o-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
}